/* init */
*,
html,
body {
    padding: 0;
    margin: 0;
}

/* login */

#loin {
    background-color: white;
}

.login {
    padding: 5vh;
    background-color: white;
    width: 440px;
    height: 310px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login div button {

}

.login h2 {
    text-align: center;
}


/* left */

#drawer {
    background: white;
    height: 100vh;
    border-right: #ccc solid 1px;
    /*width: 19%;*/
    /*width: auto;*/
}

#drawer > h1{
    text-align: center;
    font-family: "Hack", sans-serif;
}

.left .mdui-drawer .logo{
    text-align: center;
    font-family: "Hack", sans-serif;
    margin-bottom: 5px;
}

/* right */


.right {
    background: white;
    height: 100vh;
    /*width: 100%;*/
}

.right .mdui-appbar{
    box-shadow: none;
    /*border-bottom: 1px solid #ccc;*/
}